/* Global */
.container {
    margin: 32px 64px;
    display: -ms-flexbox;
    display: flex;
}

/* Header */
header h3 {
    font-style: italic;
}

/* Lyrics */
.lyrics {
    font-style: italic;
    text-align: left;
}